<div class="blog-container">
  <h1>Новый блог</h1>
  <input
    class="inp blog-input"
    type="text"
    placeholder="Введите заголовок блога"
  />
  <input class="inp blog-input" type="text" placeholder="Выберите категорию" />
  <button class="btn btn-download">Выбрать картинку</button>
  <input
    class="inp blog-input blog-content"
    type="text"
    placeholder="Введите описание блога"
  />
  <button class="btn">Создать</button>
</div>
