<div class="item">
  <img class="item-img" src="/IMG/image 1.png" alt="img" />
  <h3 class="item-title">Обзор Report Manager от Webix</h3>
  <p class="item-title-text">
    Осень 2020 года стала плодотворным временем для специалистов Webix.
  </p>
  <br />
  <p class="item-title-text">
    Команда Webix выпустила восьмую версию библиотеки пользовательского
    интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто
    Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt
    chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в
    статье.
  </p>
  <br />
  <p class="item-title-text">
    Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным
    виджетом Report Manager. Давайте рассмотрим ег
  </p>
  <br />
  <%- include('./icons.ejs') %>
</div>
<div class="item">
  <img class="item-img" src="/IMG/image 2.png" alt="img" />
  <h3 class="item-title">
    Разработчики изобрели методологию высокоскоростного программирования
  </h3>
  <p class="item-title-text">
    Осень 2020 года стала плодотворным временем для специалистов Webix.
  </p>
  <br />
  <p class="item-title-text">
    Команда Webix выпустила восьмую версию библиотеки пользовательского
    интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто
    Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt
    chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в
    статье.
  </p>
  <br />
  <p class="item-title-text">
    Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным
    виджетом Report Manager. Давайте рассмотрим ег
  </p>
  <br />
  <%- include('./icons.ejs') %>
</div>
