<aside class="sidebr main-sidebar">
  <img class="user" src="/IMG/avatar.png" alt="user" />
  <h2 class="main-sidebar-title">Елнур Сейтжанов</h2>
  <p class="main-sidebar-text">
    В основном пишу про веб - разработку, на React & Redux
  </p>
  <p class="main-sidebar-text">285 постов за все время</p>
  <button class="btn">Редактировать</button>
</aside>
