<section class="section">
  <h1 class="section-title">Блоги по программированию</h1>
  <p class="section-title-text">
    Популярные и лучшие публикации по программированию для начинающих и
    профессиональных программистов и IT-специалистов.
  </p>
</section>
