<aside class="sidebr">
  <h2 class="sidebar-title">Категории</h2>
  <ul>
    <li><a href="#">Прогнозы в IT</a></li>
    <li><a href="#">Веб-разработка</a></li>
    <li><a href="#">Мобильная разработка</a></li>
    <li><a href="#">Фриланс</a></li>
    <li><a href="#">Алгоритмы</a></li>
    <li><a href="#">Тестирование IT систем</a></li>
    <li><a href="#">Разработка игр</a></li>
    <li><a href="#">Дизайн и юзабилити</a></li>
    <li><a href="#">Искуственный иньелект</a></li>
    <li><a href="#">Машинное обучение</a></li>
  </ul>
</aside>
