<div class="item user-item">
  <img class="item-img" src="/IMG/image 1.png" alt="img" />
  <%- include('./icons.ejs') %>
  <div class="item-container">
    <h3 class="item-title">Обзор Report Manager от Webix</h3>
    <div class="item-menu">
      <svg
        class="item-menu-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-three-dots-vertical"
        viewBox="0 0 16 16"
      >
        <path
          d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
        />
      </svg>
      <span>Еще</span>
    </div>
  </div>
  <p class="item-title-text">
    Осень 2020 года стала плодотворным временем для специалистов Webix.
  </p>
  <br />
  <p class="item-title-text">
    Команда Webix выпустила восьмую версию библиотеки пользовательского
    интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто
    Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt
    chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в
    статье.
  </p>
  <br />
  <p class="item-title-text">
    Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным
    виджетом Report Manager. Давайте рассмотрим ег
  </p>
  <br />
  <div class="item-container">
    <h3 class="item-title">Что такое комплексные виджеты Webix?</h3>
  </div>
  <p class="item-title-text">
    В отличие от обычных виджетов пользовательского интерфейса JavaScript,
    комплексные виджеты - это полноценные приложения, которые не требуют
    дополнительной настройки и кастомизации.
  </p>
  <br />
  <p class="item-title-text">
    Они уже готовы к интеграции в Ваше бизнес-приложение, что позволяет
    экономить рабочее время программистам. Это визуальное воплощение концепции
    low-code платформы, которой является Webix. Комплексные виджеты Webix сразу
    же готовы к работе, потому что они содержат функциональный фронт-энд слой и,
    при необходимости, снабжены различными опциями для бэк-энда.
  </p>
  <br />
  <p class="item-title-text">
    Гибкая архитектура Webix позволяет легко настраивать эти приложения,
    расширять их функциональность и интегрировать в существующие решения.
  </p>
  <br />
  <div class="main-comments">
    <input
      class="inp comment-input"
      type="text"
      placeholder="Введит текст комментария"
    />
    <button class="btn">Отправить</button>
  </div>
</div>
