<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>New Blog</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blog-container">
      <h1>Новый блог</h1>
      <form
        class="form"
        action="/api/new/blog"
        method="post"
        enctype="multipart/form-data"
      >
        <input
          class="inp blog-input"
          type="text"
          placeholder="Введите заголовок блога"
          name="title"
        />
        <select name="category" id="" class="inp blog-input">
          <% categories.forEach(category =>{ %>
          <option value="<%= category._id %>"><%= category.name %></option>
          <% }) %>
        </select>
        <input type="file" class="inp-download" name="image" />
        <textarea
          class="inp blog-input blog-content"
          type="text"
          placeholder="Введите описание блога"
          name="text"
        ></textarea>
        <button type="submit" class="btn-custom">Создать</button>
      </form>
    </div>
  </body>
</html>
