<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="sign-in-container">
      <h1 class="sign-in-title">Страница не найдена</h1>
    </div>
  </body>
</html>
